# @see https://docs.docker.com/compose/reference/envvars/
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Linux user using `${PWD}`, other os `.`
CURDIR=${PWD}

# Docker Registry
DOCKER_REGISTRY=docker.io
# Docker namespace
DOCKER_NAMESPACE=checkmk
# Docker image
DOCKER_IMAGE=check-mk-raw
# Docker image tag
DOCKER_IMAGE_TAG=2.3.0-latest
## will use on (docker composer --project/-p)
DOCKER_PROJECT_NAME=monitoring
