# Docker compose envvars
CHECKMK_USER_ID=1000
CHECKMK_GROUP_ID=1000
CHECKMK_SITE_ID=cmk
CHECKMK_ADMIN_PASSWORD=JYg0ZDYu23451
CHECKMK_TIMEZONE=Asia/Jakarta
CHECKMK_CONFIG_DIR=${PWD}/src/config
CHECKMK_DATA_DIR=${PWD}/.data/sites
